
*.csv

data/t10k-labels-idx1-ubyte

data/t10k-images-idx3-ubyte

data/train-labels-idx1-ubyte

data/train-images-idx3-ubyte

*.aux

*.idx

*.log

*.out

*.gz

data/words/

data/gisette_train.data

data/gisette_train.labels

data/gisette_valid.data

data/gisette_valid.labels

data/arcene_valid.labels

data/arcene_valid.data

data/arcene_train.labels

data/arcene_train.data

*.data
